<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../styles/style.css">

  <!-- javascript -->
  <script defer src="./browser-app.js"></script>
</head>

<body>
  <header>
    <div class="container">
      <div class="nav-center">
        <nav>
          <!-- links -->
          <ul class="links">
            <li>
              <a href="page">Home</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
          </ul>
      </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="contact">
        <p>
          First name

        </p>
        <input type="text" name="first_name">
        <p>
          Last name
        </p>
        <input type="text" name="last_name">
        <p>Email </p>
        <input type="text" name="Email">
        <p>
          Number phone

        </p>
        <input type="text" name="Number phone" required maxlength="10">
        <p>
          Message Us

        </p>
        <textarea rows="2" cols="50" name="message">
               Anything you wanna say...
            </textarea>
        <div class="button-contact">
          <button>Send</button>
        </div>
      </div>

    </div>
  </main>
</body>

</html>