<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/style.css">
  <title>Book Component</title>
</head>

<body>

  <header>
    <div class="container">
      <div class="nav-center">
        <nav>
          <!-- links -->
          <ul class="links">
            <li>
              <a href="contact-us">Contact us</a>
            </li>
            <li>
              <a href="about">About</a>
            </li>
          </ul>
      </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="container">
        <h1>Book Component By Function</h1>
      </div>

      <div class="container">
        <div class="book-cover">
          <img src="/assets/book.png" class="book-cover-img" alt="Book Cover" />
        </div>
        <div class="container">
          <h3>By Kyle Simpson</h3>
        </div>
      </div>

      <div class="container">
        <p class="botton-p">Parts of the language that many JavaScript programmers simply avoid</p>
      </div>
    </div>
  </main>
  <footer>
    <div class="container">
      <p class="rights">©2002 Loren</p>
    </div>
  </footer>
</body>


</html>